@use "variables" as v;

%hover-black  {
    &:hover{
        color: v.$color_black;
        cursor: pointer;
    }
}

%hover-light  {
    &:hover{
        cursor: pointer;
        color: v.$color_white;
    }
}

%hover-black-icon  {
    &:hover{
        cursor: pointer;
        stroke: v.$color_black;
    }
}